.home {
  .loader {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  .article-card {
    .media {
      height: 0;
      padding-top: 56.25%;
      background-color: color(primary);
    }

    .avatar {
      background-color: color(secondary);
    }

    h3 {
      margin-bottom: 10px;
      color: color(secondary);
    }
  }
}
