.search {
  .results-title {
    color: color(textDark);
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;

    span {
      color: color(secondary);
    }
  }

  .no-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 50%;

      img {
        width: 100%;
      }
    }

    p {
      margin-top: 20px;
      color: color(textDark);
    }
  }
}
